.privacy {
  text-align: center;
  line-height: 1.8rem;
}

/* ---------------------- Heading ---------------------- */
.privacy-heading {
  font-size: 2.5rem;
  position: relative;
  z-index: 0;
  padding-top: 20vh;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #8d7e54;
}
/* ---------------------- Heading END ---------------------- */

/* ---------------------- Privacy ---------------------- */
.privacy a {
  color: #968350;
  transition: all 0.3s ease-in-out;
}
.privacy a:hover {
  color: #c4b280;
}

.privacy h2 {
  font-size: 1.5rem;
  color: #968350;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-weight: bolder;
}

.request-list {
  margin-bottom: 2rem;
}

.request-list li {
  padding-top: 1rem;
  list-style: circle;
  font-size: 1.3rem;
  margin-left: 2rem;
}

/* ---------------------- Privacy END ---------------------- */
