.section-padding {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.section-heading {
  color: #ccbea2;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  color: #a4a4a4;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.heading-subtitle {
  color: #a4a4a4;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
}

.section-description {
  font-size: 1.2rem;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.5;
  text-align: center;
}

.text-centered {
  text-align: center !important;
}

.video-description {
  padding-top: 1rem;
  text-align: center;
}

.video-a {
  text-decoration: underline;
  color: #cdb17a;
}

/* ---------------------- LG-Layout ---------------------- */

@media (min-width: 1100px) {
  .heading-subtitle {
    text-align: start;
  }

  .section-grid {
    display: grid;
    align-items: center;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-gap: 2rem;
  }

  .section-padding {
    padding-left: 9rem;
    padding-right: 9rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
  }

  .section-heading {
    text-align: start;
    font-size: 3rem;
    font-weight: bold;
  }

  .section-subtitle {
    font-size: 1.7rem;
  }

  .section-description {
    text-align: start;
    font-size: 1.4rem;
    padding-bottom: 0rem;
  }
}
