/* ---------------------- HEADER ---------------------- */
.page-heading {
  margin-top: 18vh;
  color: #ffdd98;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
/* ---------------------- HEADER END ---------------------- */

/* ---------------------- Form ---------------------- */
.form-group-heading {
  color: #d7be8b;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.pers-group {
  margin-bottom: 2rem;
}

.splitter {
  padding: 0.2rem;
}

.personal-infos {
  margin-bottom: 2rem;
}

.submission-infos {
  margin-bottom: 1.5rem;
}

.buttons-flex {
  display: flex;
}
/* ---------------------- Form END ---------------------- */
