@media (min-width: 1100px) {
  /* ---------------------- Navbar ---------------------- */
  .lg-topbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    list-style-type: none;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
  }

  #nav-menu {
    display: flex;
  }

  #nav-menu li {
    transition: all 150ms;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #nav-menu li:hover {
    color: #fbb03b;
  }

  #menuToggle input {
    display: none;
  }

  .lg-nav-logo {
    padding-left: 5rem;
  }

  /* ---------------------- Navbar END ---------------------- */

  /* ---------------------- Heading ---------------------- */
  .page-heading {
    font-size: 5rem;
  }
  /* ---------------------- Heading END ---------------------- */

  /* ---------------------- Animated Logo ---------------------- */

  .svgBox svg {
    transform: scale(4);
    padding-bottom: 5rem;
  }

  /* ---------------------- Animated Logo END ---------------------- */

  /* ---------------------- Animated Background ---------------------- */
  #particle-bg {
    margin-top: 6rem;
  }
  /* ---------------------- Animated Background END ---------------------- */
}
