.card {
  position: relative;
  max-width: 18.75rem;
  margin: 0 auto;
  background-color: rgb(255, 236, 202);
  border-radius: 2rem;
  overflow: hidden;
}
.card-body,
.card-footer {
  padding: 1.5em;
  padding-bottom: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}
.card:hover img {
  transform: scale(1.2);
}
.card-thumb {
  position: relative;
  height: 200px;
  transition: height 0.4s ease;
}
.card-thumb a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card:hover .card-thumb {
  height: calc(200px - 4.5rem);
}
.card-thumb::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.card:hover .card-thumb::after {
  opacity: 0.4;
}

.card-subtitle {
  margin-bottom: 0.75rem;
  color: rgb(164, 164, 164);
  padding-top: 0.3rem;
}
.card-description {
  display: block;
  height: 0;
  font-size: 1rem;
  color: #666c74;
  font-weight: 600;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.2s ease;
}
.card:hover .card-description {
  height: 4.5rem;
  opacity: 1;
}
