@media (min-width: 1100px) {
  /* ---------------------- Heading ---------------------- */
  .page-heading {
    font-size: 6rem;
  }
  /* ---------------------- Heading END ---------------------- */

  /* ---------------------- Animated Logo ---------------------- */

  .svgBox svg {
    padding-bottom: 20rem;
    transform: scale(0.7);
  }

  /* ---------------------- Animated Logo END ---------------------- */

  /* ---------------------- Animated Background ---------------------- */
  #particle-bg {
    margin-top: 6rem;
  }
  /* ---------------------- Animated Background END ---------------------- */

  /* ---------------------- Section One ---------------------- */
  .section-one {
    margin-left: auto;
    margin-right: auto;
    padding: 10rem;
  }

  .section-one-heading {
    font-size: 5rem;
    text-align: start;
  }

  .section-one-description {
    font-size: 2rem;
    text-align: start;
  }

  .section-one-buttons {
    justify-content: start;
  }

  /* ---------------------- Section One END ---------------------- */

  /* ---------------------- Section one to two bridge  ---------------------- */
  .section-two-bridge {
    height: 10rem;
  }
  /* ---------------------- Section one to two bridge END ---------------------- */

  /* ---------------------- Section two ---------------------- */

  .article-splitter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  /* ---------------------- Section two END ---------------------- */

  /* ---------------------- Section two to three bridge  ---------------------- */
  .section-three-bridge {
    height: 10rem;
  }
  /* ---------------------- Section two to three bridge END ---------------------- */
}
