@media (min-width: 1100px) {
  /* ---------------------- Heading ---------------------- */
  .page-heading {
    font-size: 5rem;
  }
  /* ---------------------- Heading END ---------------------- */

  /* ---------------------- Animated Logo ---------------------- */

  .svgBox svg {
    transform: scale(4);
    padding-bottom: 5rem;
  }

  /* ---------------------- Animated Logo END ---------------------- */

  /* ---------------------- Animated Background ---------------------- */
  #particle-bg {
    margin-top: 6rem;
  }
  /* ---------------------- Animated Background END ---------------------- */
}
